langchain
langgraph
langchain-community
langchain-core
langchain-huggingface
langchain-chroma

chromadb

sentence-transformers

streamlit

langsmith

pypdf

python-dotenv

plotly

pandas

numpy

unstructured

tqdm

requests

transformers

huggingface_hub

fastapi

uvicorn

torch

accelerate